<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{HH:mm:ss.SSS}){faint} %clr(%-5p) %clr(%-35.35logger{35}){cyan} %clr(:){faint} %m%n</pattern>
        </encoder>
    </appender>

    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="com.mango" level="ERROR" />
    <logger name="org.springframework.jdbc.core" level="ERROR" />
</configuration>
